<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.todo_list.member.dao.MemberDao">
	<!-- 사용 할 쿼리를 작성함 -->
	<insert id="insertNewMember" parameterType="com.ktdsuniversity.edu.todo_list.member.vo.RegistMemberVO">
		INSERT INTO "MEMBER"
         (EMAIL
        , PASSWORD
        , NAME
        , SALT
        , LOGIN_FAIL_COUNT)
        VALUES
         (#{email}
        , #{password}
        , #{name}
        , #{salt}
        , 0)
	</insert>

	<select id="selectEmailCount" parameterType="string" resultType="_int">
		SELECT COUNT(1) 
          FROM "MEMBER"
         WHERE EMAIL = #{_parameter}
	</select>

	<select id="selectSalt" parameterType="string" resultType="string">
		SELECT SALT 
          FROM "MEMBER"
         WHERE EMAIL = #{_parameter}
	</select>

	<select id="selectOneMember" 
	        parameterType="com.ktdsuniversity.edu.todo_list.member.vo.LoginMemberVO"
	        resultType="com.ktdsuniversity.edu.todo_list.member.vo.MemberVO">
		SELECT EMAIL
             , PASSWORD
             , NAME
             , SALT
          FROM "MEMBER"
         WHERE EMAIL = #{email}
           AND PASSWORD = #{password}
	</select>

	<update id="updateLoginFailState" parameterType="com.ktdsuniversity.edu.todo_list.member.vo.LoginMemberVO">
		UPDATE "MEMBER" 
		   SET LOGIN_FAIL_COUNT = LOGIN_FAIL_COUNT + 1
		     , LATEST_LOGIN_FAIL_DATE = SYSDATE
		     , LATEST_LOGIN_IP = #{ip}
		 WHERE EMAIL = #{email}
	</update>
	
	<select id="selectLoginImpossibleCount" parameterType="string" resultType="_int">
		SELECT COUNT(1)
		  FROM "MEMBER"
		 WHERE EMAIL = #{_parameter}
		   AND LOGIN_FAIL_COUNT >= 5
		   AND LATEST_LOGIN_FAIL_DATE BETWEEN SYSDATE -1/24 AND SYSDATE
	</select>
	
	<update id="updateLoginSuccessState" parameterType="com.ktdsuniversity.edu.todo_list.member.vo.LoginMemberVO">
		UPDATE "MEMBER"
		   SET LOGIN_FAIL_COUNT = 0
		     , LATEST_LOGIN_FAIL_DATE = NULL 
		     , LATEST_LOGIN_IP = #{ip}
		     , LATEST_LOGIN_SUCCESS_DATE = SYSDATE
		 WHERE EMAIL = #{email}
	</update>
	
	<delete id="deleteOneMember" parameterType="string">
		DELETE
		  FROM "MEMBER"
		 WHERE EMAIL = #{_parameter}
	</delete>
	
</mapper>