@charset "UTF-8";
* {
  box-sizing: border-box;
}

h1 {
	margin-left: 50px;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
}

.group > h1 {
	text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 120px 0.3fr;
  grid-template-rows: minmax(28px auto) minmax(28px auto) minmax(28px auto) minmax(28px auto) 1fr;
  row-gap: 10px;
  justify-content: center;
}

.btn-group {
  display: grid;
  grid-column: 1 / -1;
}

.right-align {
  text-align: right;
}

label {
  text-align: center;
}

button,
input {
  padding: 10px;
  width: 100%;
}

input[type=submit] {
	width: 20%;
	margin-top: 10px;
	background-color: #000;
	color: #fff;
}

.error {
  font-size: 0.8rem;
  color: #a00;
}

.left-align > a:checked, a:hover, a:visited, a:link {
	width: 20%;
	text-align: center;
	background-color: #000;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	display: inline-block;
}