<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.hello_spring.bbs.dao.ReplyDao">

	<resultMap type="com.ktdsuniversity.edu.hello_spring.bbs.vo.ReplyVO" id="replyVOMap" autoMapping="true">
		<id column="REPLY_ID" property="replyId" />
		<association property="memberVO" javaType="com.ktdsuniversity.edu.hello_spring.member.vo.MemberVO">
			<id column="EMAIL" property="email" />
			<result column="NAME" property="name" />
		</association>
	</resultMap>

	<select id="getAllReplies" parameterType="_int" resultMap="replyVOMap">
		SELECT LEVEL 
		     , R.REPLY_ID 
		     , R.BOARD_ID 
		     , R.EMAIL 
		     , R.CONTENT
		     , TO_CHAR(R.CRT_DT, 'YYYY-MM-DD HH24:MI:SS') CRT_DT
		     , TO_CAHR(R.MDFY_DT, 'YYYY-MM-DD HH24:MI:SS') MDFY_DT
		     , R.RECOMMEND_CNT 
		     , R.PARENT_REPLY_ID 
		     , M.NAME 
		  FROM REPLIES R
		 INNER JOIN BOARD B
		    ON R.BOARD_ID = B.ID
		 INNER JOIN MEMBERS M
		    ON R.EMAIL = M.EMAIL 
		 START WITH R.PARENT_REPLY_ID = 0
		   AND R.BOARD_ID = #{_parameter}
		 CONNECT BY PRIOR R.REPLY_ID = R.PARENT_REPLY_ID
	</select>
	
	<select id="getOneReply" parameterType="_int" resultMap="replyVOMap" >
		SELECT R.REPLY_ID 
		     , R.BOARD_ID 
		     , R.EMAIL 
		     , R.CONTENT
		     , TO_CHAR(R.CRT_DT, 'YYYY-MM-DD HH24:MI:SS') CRT_DT
		     , TO_CHAR(R.MDFY_DT, 'YYYY-MM-DD HH24:MI:SS') MDFY_DT
		     , R.RECOMMEND_CNT 
		     , R.PARENT_REPLY_ID 
		     , M.NAME 
		  FROM REPLIES R
		 INNER JOIN BOARD B
		    ON R.BOARD_ID = B.ID
		 INNER JOIN MEMBERS M
		    ON R.EMAIL = M.EMAIL
		 WHERE R.REPLY_ID = #{_parameter}
	</select>
	
	<insert id="createNewReply" parameterType="com.ktdsuniversity.edu.hello_spring.bbs.vo.WriteReplyVO">
		 INSERT INTO REPLIES
			  ( REPLY_ID
			  , BOARD_ID 
			  , EMAIL
			  , CONTENT 
			  , CRT_DT 
			  , MDFY_DT 
			  , RECOMMEND_CNT 
			  , PARENT_REPLY_ID)
			  VALUES 
			  ( SEQ_REPLIES_PK.NEXTVAL
			  , #{boardId}
			  , #{email}
			  , #{content}
			  , SYSDATE
			  , SYSDATE
			  , 0
			  , #{parentReplyId}
			  )
	</insert>
	
	<delete id="deleteOneReply" parameterType="_int">
		 DELETE 
		   FROM REPLIES
		  WHERE REPLY_ID = #{_parameter}
	</delete>

	<update id="updateOneReply" parameterType="com.ktdsuniversity.edu.hello_spring.bbs.vo.ModifyReplyVO">
		 UPDATE REPLIES 
		    SET CONTENT = #{content}
		      , MDFY_DT = SYSDATE
		  WHERE REPLY_ID = #{replyId}
	</update>

	<update id="updateRecommendCountOneReply" parameterType="_int">
		  UPDATE REPLIES
		     SET RECOMMEND_CNT = RECOMMEND_CNT + 1
		   WHERE REPLY_ID = #{_parameter}
	</update>

</mapper>